.aboutdiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ımage
{
    margin-top: 5px;
    width:95vw;
}
.header
{
    font-size: 80px;
    font-weight: 500;
}
.info
{
    text-align: center;
    margin: 10px;
    width: 80vw;
}