.includescoursesdiv
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}
.header
{
    text-align: center;
    font-size: large;
}
.leftright
{
    border: none;
    background-color: white;
    font-size: 20px;
    color: red;

}
.randomcoursebutton
{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: orange;
    border: none;
    cursor: pointer;
}