.Alldeleteddiv
{
    text-align: center; 
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: large;
}
.refreshBtn
{
    margin: 20px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: purple;
    border: 0px;
    cursor: pointer;
    color: white;
    
}